body {
	background-color:  #B5DBBE;
	color:	#204027;
	font-family: verdana, arial, tahoma, sans-serif;
	font-size: 10pt;
	text-align:center;
	height: 500;
}

#key_label {
	font-size: 60pt;
}

#image {
	height: 100%;
	width: auto;
}

#fb-like {
	display:block;

	position:absolute;
	bottom:10px;
	left:10px;
	text-align: left;
}

#info_link {
	display:block;

	position:absolute;
	bottom:0;
	right:0;
	font-size: 12pt;
    
	text-align: right;
	margin:10px;
	color:#3040b0;
}